
<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= employee.employeeName %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= employee.employeeName %> at <%= employee.email %></h1>

    <% if (employee.notes) { %>
    <p>Notes: <%= employee.notes %></p>
    <% } %>

    <% if (employee.postingLink) { %>
      <a href="<%= employee.postingLink %>">View employees</a>
    <% } %>
    <p>Current Status: <%= employee.status %></p>




    <a href="/users/<%= user._id %>/employees/<%= employee._id %>/edit">
        Edit this employee
      </a>
      

 
  </body>
</html>

